<header>
    <img src="https://i.imgur.com/6KbaZFU.png" alt="calander logo" class="logo">
    <h1>Goal Tracker</h1>
    <h2>Your Goal's Bestie</h2>
    <nav>
    <a href="/"> <button class="homeButton">Home</button> </a>
    <a href="/goals/new"> <button class="newGoalButton">New Goal</button> </a>
    <a href="/goals"> <button class="seeGoalButton">See All Goals</button> </a>
    </nav>
</header>
