<header>
    <h1>Goals Tracker</h1>
    <h2>Your Goal's Bestie</h2>
    <nav>
    <a href="/"> <button>Home</button> </a>
    <a href="/goals/new"> <button>New Goal</button> </a>
    <a href="/goals"> <button>See All Goals</button> </a>
    </nav>
</header>
