<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="container1">
        <img src="https://i.imgur.com/I7b7HZ6.png" alt="list">
        <a href="/">Home</a>
    </div>
    <div class="container2">
        <img src="https://i.imgur.com/IOnVyWJ.png" alt="pens">
        <a href="/goals/new">New Goal</a>
    </div>
    <div class="container3">
        <img src="https://i.imgur.com/aeLrYAq.png" alt="planner">
        <a href="/goals">See All Goals</a>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>