<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="container1">
        <a href="/">Home</a>
    </div>
    <div class="container2">
        <a href="/goals/new">New Goal</a>
    </div>
    <div class="container3">
        <img src="/public/css/images/pens.png" alt="pens">
        <a href="/goals">See All Goals</a>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>