<!DOCTYPE html>
<html>
  <%- include('../partials/header', { title }) %> <%-
  include('../partials/head', { title }) %>
  <body class="newGoalBody">
    <form action="/goals" method="POST" class="goals-form">
      <h1 class="h1-goals-new">Create Your Goal</h1>
      <label class="goals-name-label"
        >Name:
        <input type="text" name="name" />
      </label>
      <label class="goals-created-label">Created on:
        <input type="date" name="created" class="goals-date" />
      </label>
      <label >Deadline: <input type="date" name="deadline" class="goals-dealine-date"> </label>
      <label>Status:
        <select name="status" class="goals-select">
          <option value="Pending">Pending</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select>
      </label>
      <button type="submit" class="add-goal-button">Add Goal</button>
    </form>

    <%- include('../partials/footer') %>
  </body>
</html>
